# Versi Streamlit yang stabil
streamlit==1.20.0

# Library autentikasi lama (memerlukan Authenticator dengan A besar)
streamlit-authenticator==0.1.0

# Dependensi yang diperlukan oleh stauth dan kode Anda
pyyaml==5.4.1
pandas
numpy
bcrypt

# Hapus reportlab jika Anda tidak menggunakannya untuk menghindari error deployment

